
.app{
  height: 100vh;
  background: rgb(255, 155, 155);
  display:flex;
  flex-direction: column;
}
header{
  padding: 10px;
}
.home{
  width: 100%;
  
  flex:1 ;
}
.login{
  background: lightblue;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.items{
  background: lightyellow;
  width: 100%;
  height: 100%;
}
footer{
  padding: 10px;
}